<!DOCTYPE html>
<html ng:app="App">
<head>
  <title><%= TITLE %></title>
  <%= stylesheet_link_tag    'splash' %>
  <%= javascript_include_tag 'splash' %>
  <%= csrf_meta_tags %>
</head>
<body>

	<% flash.each do |type,message| %>
		<alert type="<%= type %>"><%= message %></alert>
	<% end %>
	
	<%= yield %>

</body>
</html>