<!DOCTYPE html>
<html ng:app="App">
<head>
  <title><%= TITLE %></title>
  <%= stylesheet_link_tag    'splash' %>
  <%= javascript_include_tag 'splash' %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= yield %>

</body>
</html>